
{% extends 'base.html' %}

{% block meta %}
    <title>Langganan</title>
{% endblock meta %}

{% block content %}
<div class="container mt-4">
    <div class="mb-5">
        <h2>HALAMAN KELOLA LANGGANAN</h2>
    </div>
    <label for="exampleFormControlTextarea1" class="form-label fs-5 fw-medium">Paket Langganan Aktif Anda:</label>
    <table class="table table-responsive table-striped table-hover rounded">
        <thead class="table-light">
        <tr class="text-center">
            <th scope="col">Nama</th>
            <th scope="col">Harga</th>
            <th scope="col">Resolusi Layar</th>
            <th scope="col">Dukungan Perangkat</th>
            <th scope="col">Tanggal Dimulai</th>
            <th scope="col">Tanggal Akhir</th>
        </tr>
        </thead>
        <tbody class="text-center">
            <tr>
                <td>Basic</td>
                <td>Rp.2000</td>
                <td>720p</td>
                <td>Handphone</td>
                <td>02/04/2020</td>
                <td>02/05/2020</td>
            </tr>
        </tbody>
      </table>
      <label for="exampleFormControlTextarea1" class="form-label fs-5 fw-medium">Pilih Paket Lain:</label>
    <table class="table table-responsive table-striped table-hover rounded">
        <thead class="table-light">
        <tr class="text-center">
            <th scope="col">Nama</th>
            <th scope="col">Harga</th>
            <th scope="col">Resolusi Layar</th>
            <th scope="col">Dukungan Perangkat</th>
            <th scope="col">Beli</th>
        </tr>
        </thead>
        <tbody class="text-center">
          <tr>
            <td>Premium</td>
            <td>Rp.10000</td>
            <td>4K</td>
            <td>Laptop, Handphone</td>
            <td>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal">
                    Beli
                </button>
            </td>
          </tr>
          <tr>
            <td>Standar</td>
            <td>Rp.5000</td>
            <td>2K</td>
            <td>Laptop</td>
            <td>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal">
                    Beli
                </button>
            </td>
          </tr>
          <tr>
            <td>Basic</td>
            <td>Rp.2000</td>
            <td>720p</td>
            <td>Handphone</td>
            <td>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal">
                    Beli
                </button>
            </td>
          </tr>
        </tbody>
      </table>
      <label for="exampleFormControlTextarea1" class="form-label fs-5 fw-medium">Riwayat Transaksi</label>
    <table class="table table-responsive table-striped table-hover rounded">
        <thead class="table-light">
        <tr class="text-center">
            <th scope="col">Nama Paket</th>
            <th scope="col">Tanggal Dimulai</th>
            <th scope="col">Tanggal Akhir</th>
            <th scope="col">Metode Pembayaran</th>
            <th scope="col">Tanggal Pembayaran</th>
            <th scope="col">Total Pembayaran</th>
        </tr>
        </thead>
        <tbody class="text-center">
            <tr>
                <td>Basic</td>
                <td>02/04/2020</td>
                <td>02/05/2020</td>
                <td>transfer bank</td>
                <td>02/04/2020</td>
                <td>Rp.2000</td>
            </tr>
        </tbody>
      </table>
</div>
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Tambah ke Daftar Favorit</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div style="text-align: justify;" class="modal-body">
                <p>Selamat! Anda telah berhasil mengunduh 
                    <span class="fw-semibold">
                        Perkenalkan Nama Saya Budiono Siregar
                    </span> 
                    dan akan
                    berlaku hingga 
                    <span class="fw-semibold">
                        09/04/2020
                    </span>
                    . Cek informasi selengkapnya
                    pada halaman daftar unduhan.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                <button type="button" class="btn btn-primary">Ke Daftar Unduhan</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}