{% extends 'base.html' %}

{% block meta %}
    <title>Daftar Kontributor</title>
{% endblock meta %}

{% block content %}

<div class="container my-4 pb-4">
  <div class="mb-5 bg-light">
      <h2>Daftar Kontributor</h2>
  </div>
  <form method="get" action="{% url 'daftar_kontributor:show_daftar_kontributor' %}">
    <div class="mb-4">
        <label for="filter_choice" class="form-label fs-5 fw-medium">Filter</label>
        <select id="filter_choice" name="filter_choice" class="form-select" aria-label="Default select example">
            <option value="" selected>Filter user</option>
            <option value="1">Sutradara</option>
            <option value="2">Pemain</option>
            <option value="3">Penulis skenario</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Filter</button>
</form>
<div class="m-4">
  <table class="table rounded bg-light table-striped table-hover m-4">
      <thead class="table-light">
          <tr>
              <th scope="col">Nama</th>
              <th scope="col">Tipe</th>
              <th scope="col">Jenis Kelamin</th>
              <th scope="col">Kewarganegaraan</th>
          </tr>
      </thead>
      <tbody>
          {% if daftar_kontributor %}
              {% for kontributor in daftar_kontributor %}
                  <tr>
                      <td>{{ kontributor.nama }}</td>
                      <td>{{ kontributor.role }}</td>
                      <td>{{ kontributor.jenis_kelamin|yesno:"Laki-laki,Perempuan" }}</td>
                      <td>{{ kontributor.kewarganegaraan }}</td>
                  </tr>
              {% endfor %}
          {% else %}
              <tr>
                  <td colspan="4">No contributors found.</td>
              </tr>
          {% endif %}
      </tbody>
  </table>
</div>

{% endblock content %}