{% extends 'base.html' %}

{% block meta %}
    <title>Daftar Unduhan</title>
{% endblock meta %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="bg-white p-4 rounded shadow">
                <div class="mb-5 text-center">
                    <h2>Daftar Tayangan Unduhan</h2>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover rounded mx-auto">
                        <thead class="table-light">
                            <tr>
                                <th scope="col" colspan="3" class="text-center">{{nama_fav}}</th>
                            </tr>
                            <tr class="text-center">
                                <th scope="col">Judul</th>
                                <th scope="col">Waktu Ditambahkan</th>
                                <th scope="col">Aksi</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            {% if show_download_list %}
                            {% for unduh in show_download_list %}
                                <tr>
                                    <td>{{ unduh.judul }}</td>
                                    <td>{{ unduh.timestamp }}</td>
                                    <td>
                                        <button type="button" class="btn btn-danger delete-button" data-bs-toggle="modal" data-bs-target="#deleteModal" 
                                            data-judul="{{ unduh.judul }}" 
                                            data-username="{{ unduh.username }}" 
                                            data-timestamp="{{ unduh.timestamp }}"
                                            data-id_tayangan="{{ unduh.id_tayangan }}">
                                        Hapus
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="3">Belum ada daftar unduhan.</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Hapus Judul</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Apakah anda yakin ingin menghapus judul ini dari daftar unduhan?</p>
            </div>
            <div class="modal-footer">
                <form action="{% url 'daftar_unduhan:delete_unduhan' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="judul" id="judulToDelete">
                    <input type="hidden" name="username" id="usernameToDelete">
                    <input type="hidden" name="timestamp" id="timestampToDelete">
                    <input type="hidden" name="id_tayangan" id="id_tayanganToDelete">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                    <button type="submit" class="btn btn-primary">Hapus</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Error Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="errorModalLabel">Kesalahan</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Unduhan tidak dapat dihapus karena belum lebih dari 1 hari ditambahkan</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'error' %}
        var errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
        errorModal.show();
        {% endif %}
        {% endfor %}
        {% endif %}

        $('.delete-button').each(function () {
            $(this).on('click', function () {
                var judul = $(this).data('judul');
                var username = $(this).data('username');
                var timestamp = $(this).data('timestamp');
                var id_tayangan = $(this).data('id_tayangan');
                document.getElementById('judulToDelete').value = judul;
                document.getElementById('usernameToDelete').value = username;
                document.getElementById('timestampToDelete').value = timestamp;
                document.getElementById('id_tayanganToDelete').value = id_tayangan;
            });
        });
    });
</script>
{% endblock content %}
