<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
    Tambah
</button> 
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Tambah ke Daftar Favorit</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div style="text-align: justify;" class="modal-body">
                <p>Selamat! Anda telah berhasil mengunduh 
                    <span class="fw-semibold">
                        Perkenalkan Nama Saya Budiono Siregar
                    </span> 
                    dan akan
                    berlaku hingga 
                    <span class="fw-semibold">
                        09/04/2020
                    </span>
                    . Cek informasi selengkapnya
                    pada halaman daftar unduhan.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                <button type="button" class="btn btn-primary">Ke Daftar Unduhan</button>
            </div>
        </div>
    </div>
</div>
