
{% extends 'base.html' %}

{% block meta %}
    <title>Daftar Favorit</title>
{% endblock meta %}

{% block content %}
<div class="container mt-4">
    <div class="mb-5">
        <h2>Daftar Favorit</h2>
    </div>
    <table class="table table-responsive table-striped table-hover rounded">
        <thead class="table-light">
            
                <tr>
                    <th scope="col" colspan=3 class="text-center">Daftar Favorit</th>
                </tr>
            
        <tr class="text-center">
            <th scope="col">Judul</th>
            <th scope="col">Waktu Ditambahkan</th>
            <th scope="col">Aksi</th>
        </tr>
        </thead>
        <tbody class="text-center">
            {% if show_details %}
            {% for favorite in show_details %}
                <tr>
                    <td>{{ favorite.judul }}</td>
                    <td>{{ favorite.timestamp }}</td>
                    <td>
                        <button type="button" class="btn btn-danger delete-button" data-bs-toggle="modal" data-bs-target="#deleteModal" 
                            data-judul="{{ favorite.judul }}" 
                            data-username="{{ favorite.username }}" 
                            data-timestamp="{{ favorite.timestamp }}">
                        Hapus
                        </button>
                    </td>
                </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">Belum ada daftar favorit.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Hapus Judul</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Apakah anda yakin ingin menghapus judul ini dari daftar favorit?</p>
            </div>
            <div class="modal-footer">
                <form action="{% url 'daftar_favorit:delete_favorit' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="judul" id="judulToDelete">
                    <input type="hidden" name="username" id="usernameToDelete">
                    <input type="hidden" name="timestamp" id="timestampToDelete">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                    <button type="submit" class="btn btn-primary">Hapus</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
$('.delete-button').each(function () {
    $(this).on('click', function () {
        var judul = $(this).data('judul');
        var username = $(this).data('username');
        var timestamp = $(this).data('timestamp');
        document.getElementById('judulToDelete').value = judul;
        document.getElementById('usernameToDelete').value = username;
        document.getElementById('timestampToDelete').value = timestamp;
    });
});
</script>

<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Tambah ke Daftar Favorit</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Judul daftar favorit</p>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Pilih daftar favoritmu!</option>
                    <option value="1">Galau</option>
                    <option value="2">Happy</option>
                    <option value="3">Badmood</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                <button type="button" class="btn btn-primary">Tambah</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
