{% extends 'base.html' %}

{% block meta %}
<title>Trailer</title>
{% endblock meta %}

{% block auth_navbar %}
{% if status == False %}
<button class="navbar-toggler ml-auto custom-toggler" type="button" data-bs-toggle="collapse"
    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'authentication:login' %}">Login</a>
        </li>
        <span class="navbar-toggler-icon"></span>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'authentication:register' %}">Register</a>
        </li>
    </ul>
</div>
{% else %}
<button class="navbar-toggler ml-auto custom-toggler" type="button" data-bs-toggle="collapse"
    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Homepage</a>
        </li>
        <span class="navbar-toggler-icon"></span>

        <li class="nav-item">
            <a class="nav-link" href="/authentication/trailer/">Trailer</a>
        </li>
        <span class="navbar-toggler-icon"></span>

        <li class="nav-item">
            <a class="nav-link" href="/">Tayangan</a>
        </li>
        <span class="navbar-toggler-icon"></span>

        <li class="nav-item">
            <a class="nav-link" href="/">Kontributor</a>
        </li>
        <span class="navbar-toggler-icon"></span>

        <li class="nav-item">
            <a class="nav-link" href="/">Favorit</a>
        </li>
        <span class="navbar-toggler-icon"></span>

        <li class="nav-item">
            <a class="nav-link" href="/">Unduhan</a>
        </li>
        <span class="navbar-toggler-icon"></span>

        <li class="nav-item">
            <a class="nav-link" href="/">Langganan</a>
        </li>
        <span class="navbar-toggler-icon"></span>

        <li class="nav-item">
            <a class="nav-link" style="background-color:red; border-radius: 20px;"
                href="/authentication/logout">Logout</a>
        </li>
    </ul>
</div>
{% endif %}
{% endblock auth_navbar %}

{% block content %}
<div class="container py-4" style="margin-top: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); background-color: #fff;">
    <h1 style="text-align: center;">Daftar Tayangan</h1>
    <form>
        <div class="form-group">
            <label for="searchInput">Cari berdasarkan judul:</label>
            <input type="text" class="form-control" id="searchInput" placeholder="Masukkan judul tayangan">
        </div>
        <button type="submit" class="btn btn-primary" onclick="redirectToFilm()">Cari</button>
    </form>

    <h2>10 Tayangan Terbaik Minggu Ini</h2>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Pilih Opsi
        </button>
        <div class="my-2"></div>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Global</a>
            <a class="dropdown-item" href="#">Berdasarkan Negara Pengguna</a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Peringkat</th>
                <th>Judul</th>
                <th>Sinopsis</th>
                <th>URL</th>
                <th>Tanggal Rilis</th>
                <th>Total View 7 Hari Terakhir</th>
                <th>Tayangan</th>
            </tr>
        </thead>
        <tbody id="top10-list">
            <tr>
                <th>A</th>
                <th>B</th>
                <th>C</th>
                <th>D</th>
                <th>E</th>
                <th>F</th>
                <th>G</th>
            </tr>
            <tr>
                <th>I</th>
                <th>J</th>
                <th>K</th>
                <th>L</th>
                <th>M</th>
                <th>N</th>
                <th>O</th>
            </tr>
            <tr>
                <th>Q</th>
                <th>R</th>
                <th>S</th>
                <th>T</th>
                <th>U</th>
                <th>V</th>
                <th>W</th>
            </tr>
        </tbody>
    </table>

    <h2>Daftar Film</h2>
    {% comment %} <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Pilih Opsi
        </button>
        <div class="my-2"></div>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Global</a>
            <a class="dropdown-item" href="#">Berdasarkan Negara Pengguna</a>
        </div>
    </div> {% endcomment %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Judul</th>
                <th>Sinopsis Trailer</th>
                <th>URL Trailer</th>
                <th>Tanggal Rilis Trailer</th>
            </tr>
        </thead>
        <tbody>
            {% for film in list_film %}
                <tr>
                    <th>{{film.judul}}</th>
                    <th>{{film.sinopsis_trailer}}</th>
                    <th>
                        <a href={{film.url_video_trailer}}><button class="btn btn-secondary">Trailer</button></a>
                        {% comment %} <a href={{film.url_video_trailer}}>URL</a> {% endcomment %}
                    </th>
                    <th>{{film.release_date_trailer}}</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Daftar Series</h2>
    {% comment %} <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Pilih Opsi
        </button>
        <div class="my-2"></div>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Global</a>
            <a class="dropdown-item" href="#">Berdasarkan Negara Pengguna</a>
        </div>
    </div> {% endcomment %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Judul</th>
                <th>Sinopsis Trailer</th>
                <th>URL Trailer</th>
                <th>Tanggal Rilis Trailer</th>
            </tr>
        </thead>
        <tbody>
            {% for serie in list_series %}
                <tr>
                    <th>{{serie.judul}}</th>
                    <th>{{serie.sinopsis_trailer}}</th>
                    <th><a href={{serie.url_video_trailer}}><button class="btn btn-secondary">Trailer</button></a></th>
                    {% comment %} <th><a href={{serie.url_video_trailer}}>URL</a></th> {% endcomment %}
                    <th>{{serie.release_date_trailer}}</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function redirectToFilm() {
        event.preventDefault();
        var searchInput = document.getElementById('searchInput').value;
        window.location.href = '../search/' + encodeURIComponent(searchInput);
    }
</script>
{% endblock content %}